* {
  background-color:  #d1c6e2;
}

.navbar a {
  display: inline-block;
  margin: 1rem 2rem;
  text-decoration: none;
  font-size: 1.2em;
  color: #c26813;
  border-bottom: 2px solid #C374DB;
  transition: 0.1s;
  margin-right: 19%;
  flex-wrap: nowrap;
}